{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>InterviewReady</title>

    <!-- Bootstrap
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <!-- Links -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" id="light_css">
    <link rel="stylesheet" href="{% static 'css/dark_index.css' %}" id="dark_css" disabled>
    <link rel="stylesheet" href="{% static 'css/toast.css' %}" id="toastcss">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

    
</head>

<body>
    {%include 'header.html'%}
    {%block content2%}
    {%endblock%}

    <section id="edit_profile_header">
        <p id="edit_profile_name">{{user.first_name}} {{user.last_name}}</p>
        <h2>Personal Settings</h2>
        <div id="options">
            <a href="edit_profile">My account</a>
            <a href="history" class="active_edit_profile">History</a>
        </div>
    </section>

    <section id="history_main">
        <table class="table table-striped table-dark">
            <thead>
                <tr id="heading_tr">
                    <th scope="col" class="small_cell">#</th>
                    <th scope="col">Job Description</th>
                    <th scope="col">Special Words</th>
                    <th scope="col">Interview Type</th>
                    <th scope="col">Interview Difficulty</th>
                    <th scope="col">Interview Date</th>
                    <!-- <th scope="col">Interview Duration</th> -->
                    <th scope="col">Interview Completed</th>
                    <th scope="col">Interview Score</th>
                </tr>
            </thead>
            <tbody>
                {% for history in histories %}
                <tr onclick="openHistory('{{history.id}}')">
                    <th scope="row"  class="small_cell">{{ forloop.counter }}</th>
                    <td>{{history.job_description}}</td>

                    {% if history.special_words == '' %}
                    <td>None</td>
                    {% else %}
                    <td>{{history.special_words}}</td>
                    {% endif %}

                    {% if history.interview_type == 'telephonic' %}
                    <td>Basic Telephonic Interview</td>
                    {% elif history.interview_type == 'background' %}
                    <td>Background Interview</td>
                    {% elif history.interview_type == 'hr' %}
                    <td>Hr/Behavioural Interview</td>
                    {% else %}
                    <td>Custom</td>
                    {% endif %}
                    <td>{{history.interview_difficulty}}</td>
                    <td>{{history.interview_date}}</td>
                    <!-- <td>{{history.interview_duration}}</td> -->
                    {% if history.interview_completed == True%}
                    <td class="completed">Completed</td>
                    {% else %}
                    <td class="not_completed">Not Completed</td>
                    {% endif %}
                    <td>{{history.overall_score}} / 100</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <div id="toast">
        <div id="img">
            <img id="right_img" src="{% static 'images/wrong.svg' %}" alt="" />
        </div>
        <div id="desc"></div>
    </div>

    {%include 'modal.html'%}
    {%block content1%}
    {%endblock%}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrf_token">

    <input type="hidden" name="" id="error_if_any" readonly value="{{data}}">
    <script src="{% static 'js/toast.js' %}"></script>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/mode.js' %}"></script>
    <script src="{% static 'js/userModal.js' %}"></script>
    <script src="{% static 'js/edit_profile.js' %}"></script>


</body>

</html>