{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>InterviewReady</title>

    <!-- Links -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" id="light_css">
    <link rel="stylesheet" href="{% static 'css/dark_index.css' %}" id="dark_css" disabled>
    <link rel="stylesheet" href="{% static 'css/toast.css' %}" id="toastcss">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>

<body>
    
    {%include 'header.html'%}
    {%block content2%}
    {%endblock%}

    <section id="main_body">
        <div id="main_body_heading">
            <p>Interview <span class="logo_color">Ready<span style="font-size: 45px;">.ai</span></span></p>
        </div>
        <div id="central_text">
            Prepare for interviews with confidence <br> Practice, refine, and master your skills to ace your next tech
            interview.
        </div>
        <div id="main_body_form">
            <a href="interview_info" id="continue_button">Continue</a>
        </div>

    </section>
    <section id="mouse_outer">
        <div id="mouse_inner">
            <div id="mouse_pointer">

            </div>
        </div>
    </section>

    <section id="faq_outer">
        <button class="accordion">What is this platform?</button>
        <div class="panel">
            <p>This is an online service that allows users to practice and improve their interview skills by conducting
                mock interviews with the assistance of ChatGPT. Users can provide a job description, and ChatGPT will
                simulate an interview based on that description.</p>
        </div>

        <button class="accordion">What is the purpose of conducting mock interviews on this platform?</button>
        <div class="panel">
            <p>The primary purpose of conducting mock interviews on this platform is to help users practice and improve
                their interview skills. It's an effective way to prepare for real job interviews by receiving feedback
                and refining your responses.</p>
        </div>

        <button class="accordion">What is the pricing?</button>
        <div class="panel">
            <p>You get 3 trials of premium interview expierence for free. For more premium interviews you can check out pricing <a class="faq_a" href="pricing">here</a> </p>
        </div>

        <button class="accordion">Where do I get ChatGPT API key?</button>
        <div class="panel">
            <p>Please follow this video tutorial <a href="https://www.youtube.com/watch?v=aVog4J6nIAU">here</a>.
                Credits: Tom's Tech Academy</p>
        </div>

        <button class="accordion">Is this service free to use?</button>
        <div class="panel">
            <p>Yes this is completely free you only need ChatGPT API key to start. You dont even need to login</p>
        </div>

        <button class="accordion">Is my information and data secure on this platform?</button>
        <div class="panel">
            <p>Yes your key is absolutely safe. We are not saving anything on our database and key is stored in session
                storage so you dont need to worry about your key being misused</p>
        </div>

        <button class="accordion">Can I provide feedback on the platform's performance and ChatGPT's interview
            questions?</button>
        <div class="panel">
            <p>Yes, we value your feedback and continuously strive to improve our platform. You can provide feedback on
                the
                following mail ids: <a href="mailto:jayantkhanna3105@gmail.com">jayantkhanna3105@gmail.com</a>, <a
                    href="mailto:ananyavishnoi26@gmail.com">ananyavishnoi26@gmail.com</a>

            </p>
        </div>

        <button class="accordion">I am looking to hire or connect with developers for this website. How can I go about
            doing that?</button>
        <div class="panel">
            <p>Hello There! You can connect with us here: <br>Jayant Khanna: <a
                    href="https://www.linkedin.com/in/jayantkhanna1/">Linkedin</a>, <a
                    href="https://github.com/jayantkhanna1">Github</a>, <a
                    href="mailto:jayantkhanna3105@gmail.com">Mail</a><br>Ananya Vishnoi: <a
                    href="https://www.linkedin.com/in/ananya-vishnoi/">Linkedin</a>, <a
                    href="https://github.com/ananya26-vishnoi">Github</a>, <a
                    href="mailto:ananyavishnoi26@gmail.com">Mail</a></p>
        </div>
    </section>

    <div id="toast">
        <div id="img">
            <img id="right_img" src="{% static 'images/wrong.svg' %}" alt="" />
        </div>
        <div id="desc"></div>
    </div>

    {%include 'modal.html'%}
    {%block content1%}
    {%endblock%}

    

    <input type="hidden" name="" id="error_if_any" readonly value="{{data}}">
    <script src="{% static 'js/toast.js' %}"></script>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/mode.js' %}"></script>
    <script src="{% static 'js/userModal.js' %}"></script>


</body>

</html>