{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>InterviewReady</title>

    <!-- Links -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" id="light_css">
    <link rel="stylesheet" href="{% static 'css/dark_index.css' %}" id="dark_css" disabled>
    <link rel="stylesheet" href="{% static 'css/toast.css' %}"  id="toastcss">
    <link rel = "icon" href =  "{% static 'images/logo.png' %}" type = "image/x-icon"> 
</head>
<body>
    {%include 'header.html'%}
    {%block content2%}
    {%endblock%}


    <section id="user_information">
        <div id="inner_user_information">
            <img src="{% static 'images/begin.png' %}" alt="">
            <h3>Answer 7 Questions</h3>
            <p id="info">Take a deep breath and feel assured.  <br>In just a moment, you'll encounter 7 questions tailored to the information you've provided earlier.</p>
            <!-- <a href="javascript:void(0)" id="start_interview" onclick="ask_for_permission()">Start</a> -->
            
            <a href="javascript:void(0)" id="start_interview" onclick="begin_interview(true);">Start</a>
        </div>
    </section>

    <section id="interview">
        
    </section>

    <section id="final">
        <div id="inner_final">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/f9955daa-18d3-4fa4-b9a0-e08c2a52c656/7q9osFlzlL.json" background="##fff" speed="1" style="width: 400px; height: 300px" loop autoplay direction="1" mode="normal"></lottie-player>
            <h3>Congratulations on completing the interview!</h3>
            <p id="info">Please wait while we evaluate your result. Do not refresh or close this page it will only take a few seconds</p>
        </div>
    </section>
    <input type="hidden" name="" id="questions" value="{{questions}}" readonly>
    <div id="toast">
        <div id="img">
            <img id="right_img" src="{% static 'images/wrong.svg' %}" alt="" />
        </div>
        <div id="desc"></div>
    </div>

    {%include 'modal.html'%}
    {%block content1%}
    {%endblock%}

    <!-- Hidden csrf token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrf_token">
    <!-- <script src="{% static 'js/mic_and_speaker_permission.js' %}"></script> -->
    <script src="{% static 'js/begin_interview.js' %}"></script>

    <script src="{% static 'js/mode.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <script src="{% static 'js/userModal.js' %}"></script>
    <script src="{% static 'js/edit_profile.js' %}"></script>
    
</body>
</html>